<?xml version="1.0" encoding="UTF-8"?><?pde version="3.6"?>
<target includeMode="feature" name="jbosslocustarget-1.6.0-SNAPSHOT">
  <!-- Pro tip: to convert
      from org.eclipse.foo_4.6.0.v201005032111-777K4AkF7B77R7c7N77.jar
    to <unit version="4.6.0.v201005032111-777K4AkF7B77R7c7N77" id="org.eclipse.foo.feature.group"/>
    using vi, apply this transform:
    :%s/.\+\/\(org.\+\)_\(\d\+.\+\)\.jar/\t\t\t<unit id="\1.feature.group" version="\2"\/>/g
  -->
  <locations>
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/orbit/R20151118145958/"/>
      <!-- org.junit [4.11.0,5.0.0) + hamcrest dep -->
      <unit id="org.junit" version="4.11.0.v201303080030"/>
        <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
  
      <!-- org.apache.ant [1.8.4,2.0.0) + apache.commons deps -->
      <unit id="org.apache.ant" version="1.8.4.v201404171501"/>
        <unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
        <unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>

      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.5.0.v201504151636"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.5.0.v201504151636"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.5.0.v201504151636"/>
      <unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>

      <!-- required by org.springframework.aop -->
      <unit id="org.aopalliance" version="1.0.0.v201105210816"/>
      <!-- required by org.eclipse.gemini.management -->
      <unit id="osgi.enterprise" version="4.2.0.v201108120515"/>

      <!-- required by jsonschema2pojo -->
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
    </location>

    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/orbit/R20130517111416"/>
      <!-- must include commons.logging from orbit/R20130517111416 because tp resolution fails w/ bad md5 hash using newer Orbit or Juno site -->
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
    </location>

    <!-- org.eclipse.osgi -->
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/juno/201302132140-R/"/>
      <unit id="org.eclipse.osgi" version="3.8.2.v20130124-134944"/>
    </location>

   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.springframework.aop" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.beans" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.context" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.core" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.expression" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.transaction" version="3.1.4.RELEASE"/>
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/springide/3.2.0.201303060654-RELEASE-e4.3/"/>
   </location>

    <!-- JBIDE-15292: org.apache.aries.jmx.core depends on org.osgi.jmx packages available from org.eclipse.gemini.management -->
    <location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit" includeSource="true">
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/gemini/2.0.0.RELEASE/"/>
      <unit id="org.eclipse.gemini.management" version="2.0.0.RELEASE"/>
    </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
